body {
    font-family: "Inter", sans-serif;
    background-color: #0f0f0f;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: sticky;
    top: 0;

    background: rgba(20, 20, 20, 0.7);
    backdrop-filter: blur(10px);

    padding: 20px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-image {
    width: 60px;
    height: 100%;
    display: block;
}

.nav {
    margin-right: 10px;
}

.nav-list {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 600;

    transition: all 0.3s ease;
}

.nav-link:hover {
    text-decoration: underline;
    font-size: 19px;
    opacity: 0.8;
}

.header-button {
    background-color: gray;
    padding: 10px 20px;
    border-radius: 6px;

    display: inline-block;

    transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1),
                box-shadow 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}

.button {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 600;

    transition: all 0.3s ease;
}

.header-button:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
    opacity: 0.8;
}

.about {
    margin-bottom: 60px;
}

.about-content {
    display: flex;
    align-items: center;

    padding: 45px 20px;
    border: 2px gray solid;
    border-radius: 14px;

    gap: 80px;
}

.about-image img {
    width: 500px;
    border-radius: 12px;
    display: block;
}

.about-info {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-tittle {
    color: rgb(70, 67, 67);
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
}

.about-description {
    font-size: 18px;
    margin-bottom: 15px;
    width: 100%;
    font-weight: 400;
    line-height: 1.1;
}

.about-button {
    background-color: gray;
    padding: 10px 20px;
    border-radius: 6px;
}

.main {
    margin-bottom: 40px;
}

.catalog-title {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.catalog-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.catalog-card {
    padding: 20px;
    border: 2px gray solid;
    border-radius: 14px;

    transition: all 0.3s ease;
}

.catalog-card:hover {
    transform: scale(1.05);
}

.catalog-card-tittle {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.catalog-card-image {
    width: 100%;
    border-radius: 12px;
    display: block;
}

.catalog-card-txt {
    font-size: 17px;
    font-weight: 200;
    margin-bottom: 10px;
}

.catalog-card-btn {
    text-decoration: none;
    color: gray;
    font-size: 18px;
    text-transform: uppercase;

    transition: all 0.3s ease;
}

.catalog-card-btn:hover {
    text-decoration: underline;
    color: white;
    font-size: 21px;
}